{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-7">
            <h2>Your filtering information for getting news</h2>
        </div>
        <div class="col-3">
            <a href="add_user_news_setting" class="btn btn-dark">
                add or update filtering information
            </a>
        </div>
        <div class="col-12">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Countries</th>
                    <th scope="col">Source of News</th>
                    <th scope="col">Keywords</th>
                </tr>
                </thead>
                <tbody>
                {% for user_setting in user_settings %}
                    <tr>
                        <td>{{ user_setting.countries }}</td>
                        <td>{{ user_setting.news_source }}</td>
                        <td>{{ user_setting.keywords }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}